.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  background: #0f172a;
  color: white;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 25px;
}

.navbar li {
  cursor: pointer;
}