/* NAVBAR CONTAINER */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10% 40px;

  /* Apple-style glass effect */
  background:skyblue;
  

  
  top: 0;
  z-index: 100;

  border-bottom: 1px solid #e5e5e5;
}

/* LOGO */
.logo {
  font-size: 20px;
  font-weight: 600;
  color: #1d1d1f;
}

/* NAV LINKS */
.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
}

/* LINKS */
.nav-links a {
  text-decoration: none;
  color: #6e6e73;
  font-size: 14px;
  font-weight: 500;
  position: relative;
  transition: 0.3s;
}

/* HOVER EFFECT (APPLE STYLE UNDERLINE) */
.nav-links a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #0071e3;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #1d1d1f;
}

.nav-links a:hover::after {
  width: 100%;
}